<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>models</key>
	<array>
		<dict>
			<key>name</key>
			<string>二级</string>
			<key>id</key>
			<integer>111</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>三级</string>
			<key>id</key>
			<string>11111</string>
		</dict>
	</array>
	<key>user</key>
	<dict>
		<key>name</key>
		<string>userName</string>
		<key>id</key>
		<integer>11</integer>
	</dict>
	<key>number</key>
	<integer>0</integer>
	<key>name</key>
	<string>测试</string>
	<key>id</key>
	<string>1</string>
</dict>
</plist>
